*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
}
.menu-bar{
    width: 100%;
    height: 90px;
    background-color:azure;
}
.logo{
    width: 20%;
    height: 100%;
    float: left;
}
.logo img{
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 1px;
    padding: 5px;
    cursor: pointer;
}
.menu{
    width: 80%;
    height: 90px;
    overflow: hidden;
    background-color: azure;
    
    
}
.menu ul{
    margin-top: 1%;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    text-decoration: none;
    padding: 20px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;

}
.menu ul li a:hover{
    background-color: black;
    color: white;
    padding: auto;
}
.box{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
   
}
.box1{
    width: 50%;
    height: auto;
    overflow: hidden;
    /* border: 1px solid black; */
    /* background-color: aquamarine; */
    /* margin-left: 50px; */

  
    
}
.image img{
    width: 50%;
    height: 300px;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 40px;
}
.text{
    width: 100%;
    height:auto;
    overflow: hidden;
    /* background-color: bisque; */
    margin-top: 90px;
    margin-left: 10%;
}
.text h1{
    width: 60%;
    padding: 10px;
    background-color: pink;
    text-align: center;
    
}
.text p{
    font-size: 25px;
    line-height: 3;
    /* margin-top: 100px; */
}
.text img{
    width: 50px;
    height: 50px;
}
.box2{
    width: 50%;
    height: auto;
    overflow: hidden;
    border-left: 1px solid black;
    margin-top: 10px;
    /* background-color: aquamarine; */
    margin-left: 50px;
}
.text a{
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: blue;
    line-height: 2;
}


.footer{
    width: 100%;
    height: 90px;
    background-color:white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    font-size: 20px;

    color: black;
    font-weight: bold;
}

